[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = A unification-based alias analysis and related tools
[access "refs/*"]
	owner = group user/134ARG
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/134ARG
	label-Verified = -1..+1 group user/134ARG
	push = group user/134ARG
	read = group user/134ARG
	rebase = group user/134ARG
	removeReviewer = group user/134ARG
	submit = group user/134ARG
[access "refs/heads/*"]
	create = group user/134ARG
	push = +force group user/134ARG
	pushMerge = group user/134ARG
	read = group user/134ARG
[access "refs/tags/*"]
	push = group user/134ARG
	push = +force group user/134ARG
